.ProfileinfocontaintOuter{
    width: 100%;
    padding:0;
    border-left: 1px solid #D7D0CA;
    flex:0.4;
    display:block;
    height:100vh;
    background-color: #E5DDD5;
}

.ProfileinfocontaintInner{
    width:100%;
    display: inline-block;
    height:99vh;
    overflow-y: auto;
}

.ProfileinfocontaintOuter .ProfileinfocontaintInner .ContactinfodpsectionOuter{
    height:50vh;
    width:100%;
    background-color: #FFFFFF;
}

.ProfileinfocontaintOuter .ProfileinfocontaintInner .ContactinfomediasectionOuter{
    height:auto;
    width:100%;
    background-color: #FFFFFF;
}

.ProfileinfocontaintOuter .ProfileinfocontaintInner .ContactinfoPermissionSection{
    border:none;
    margin-top:2px;
    background-color: #FFFFFF;
    padding-left:1.5em;
    width:100%;
    height:auto;
    display: block;
    padding-bottom: 3em;
}