.Searchchatinputbox{
    flex:0.4;
    height:100vh;
    width:100%;
    border-left:1px solid #DADADA;
    background-color: #FFFFFF;
    position: relative;
}

.Searchchatinputbox .LeftdivSearchBarWrapper{
    width:0px;
    height:99vh;
    position: absolute;
    transition: all 0.1s linear;
    top: 60px;
    bottom: 0;
    right: 0;
    transition: all 0.1s linear;
    transition: width 0.1s linear;
}

.LeftdivSearchBarWrapperAfter{
   width:100% !important;
}
.Searchchatinputbox .LeftdivSearchBarWrapper p{
    text-align: center;
    margin-top:3.5em;
    font-size: 14px;
    color:gray;
}