.userstatusWrapper{
    display: flex;
    align-items: center;
    width:100%;
    padding:8px 0px;
    padding-left:12px;
}
.userstatusWrapper > img{
    width:40px;
    height:40px;
    padding:1px;
    border:2px solid #BABDC3;
    border-radius: 50%;
}

.userstatusWrapper .statusPersonInfo{
    padding-left: 14px;
}
.userstatusWrapper .statusPersonInfo .StatusHolderName{
    color: #FFFFFF;
}

.userstatusWrapper .statusPersonInfo .StatusUpdate{
    color: gray;
    font-size: small;
}

.userstatusWrapper .adminDP{
    border:none;
    width:38px;
    height:38px;
}


.userstatusWrapper:not(.adminDP):hover{
    background-color: #2d2d2e;
}
